body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #2b275c;
  opacity: 0.96;
}

.box {
  position: absolute;
  width: 550px;
  padding: 40px;
  position: adsolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #d9d7de;
  text-align: center;
  border-radius: 5px;
  box-shadow:hsl(0, 0%, 80%) 0 0 16px;



}

.box h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}



.box input[type="text"],.box input[type="password"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 44px;
  width: 400px;
  outline: none;
  color: black;
  border-radius: 14px;
  transition: 0.25s;

}

.box input[type="text"]:focus,.box input[type="password"]:focus{
  width: 400px;
  border-color: #2ecc71;
}

.box input[type="submit"] {
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 80px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

.box input[type="submit"]:hover {
  background: #2eec71;
}

.btn-success {
    width: 150px;
    padding: 15px;
    margin-top: 30px;
    margin-bottom: 0px;
    font-size: 22px
}