{% extends 'store/main.html' %}
{% load static %}

{% block content %}
<h1>{{product.title}}</h1>
<div class="zxc3">
    <p><img class='zxc2' width="500px" class="img-article-left" src="{{product.image.url}}"></p>
    <h3>  Цена: {{ product.price }}$  </h3>
</div>

<div class="zxc">
    <h3>О товаре:</h3>{{product.content|linebreaks}}
</div>

<a class="btn btn-dark " href="{% url 'store' %}">
    <i class="fa-solid fa-chevron-left"></i> Назад</a>
<button data-product={{product.id}} data-action="add" class="btn btn-success add-btn update-cart">
    <i class="fa-solid fa-cart-shopping"></i>  В корзину</button>

{% endblock %}